.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #007DBA;
    align-items: center;
}
.nav .nav-menu {
    position: relative;
    right: 0;
    width: 500px;
}

.nav .nav-logo {
    padding-left: 20px;
}

.nav .nav-menu ul {
    display: flex;
    margin : 0;
    justify-content: space-evenly;
}

.nav .nav-menu ul li{
    list-style: none;

    
}